/* #region door */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_picture {
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.door {
    background-color: #800000;
    width: 200px;
    height: 400px;
    box-shadow: 10px -5px 20px 3px rgba(0, 0, 0, 0.632);
    position: relative;
    transform-style: preserve-3d;
}

/* #region door rectangle top */
.door-front {
    width: 140px;
    height: 100px;
    position: absolute;
    border: 2.5px solid #800000;
    border-radius: 5px;
    top: 25px;
    left: 12.5%;
    box-shadow: 4px 4px 20px 0px inset rgba(0, 0, 0, 0.632);
}

.door-front::before,
.door-front::after {
    content: "";
    width: 140px;
    height: 100px;
    position: absolute;
    border: 5px solid #800000;
    border-radius: 5px;
    top: -5px;
    left: -5px;
    box-shadow: 4px 4px 20px -5px rgba(0, 0, 0, 0.632);
}

/* #endregion door rectangle top */

/* #region door rectangle bottom */
.door-back {
    width: 140px;
    height: 100px;
    position: absolute;
    border: 2.5px solid #800000;
    border-radius: 5px;
    bottom: 25px;
    left: 12.5%;
    box-shadow: 4px 4px 20px 0px inset rgba(0, 0, 0, 0.632);
}

.door-back::before,
.door-back::after {
    content: "";
    width: 140px;
    height: 100px;
    position: absolute;
    border: 5px solid #800000;
    border-radius: 5px;
    bottom: -5px;
    left: -5px;
    box-shadow: 4px 4px 20px -5px rgba(0, 0, 0, 0.632);
}

/* #endregion door rectangle bottom */

/* #region door handle */

.handle {
    background: #985700;
    width: 28px;
    height: 9px;
    border: 1px solid #88540b;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 5px;
    box-shadow: black -1px 2px 10px -3px;
}

.handle::after {
    content: "";
    background: #985700;
    width: 5px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #88540b;
    position: absolute;
    top: 55%;
    right: 5px;
    transform: rotateZ(-10deg);
    box-shadow: black -1px 2px 10px 0px;
    z-index: -1;
}

/* #endregion door handle */

/* #region door lock */

/* #endregion door lock */


/* #endregion door */


.second_picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plant {
    background: rgba(128, 128, 128, 0.364);
    width: 400px;
    height: 600px;
    position: relative;
}

.plant_pot {
    background: #88540b;
    width: 150px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.plant_pot::before {
    content: "";
    background: #7c5217;
    border: 1px solid black;
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 65px;
    left: 0;
    border-radius: 50%;
    transform: rotateX(180deg);
}








.test {
    margin: 2rem;
}

.prova1 {
    width: 100px;
    height: 100px;
    background: green;
    margin: 0.5rem;
}

.prova1::before,
.prova1::after {
    content: "";
    width: 100px;
    height: 100px;
    background: red;
    margin: 0.5rem;
    padding: 0 1rem;
}