
.first_picture{
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.door{
    background-color: brown;
    width: 200px;
    height: 400px;
    box-shadow: 10px -5px 20px 3px rgba(0, 0, 0, 0.632);
    position: relative;
    transform-style: preserve-3d;
}
.door-front{
    width: 140px;
    height: 100px;
    position: absolute;
    border: 2.5px solid brown;
    top: 25px;
    left: 12.5%;
    box-shadow: 0px 2px 20px 3px inset rgba(0, 0, 0, 0.632);
}
.door-back{
    width: 140px;
    height: 100px;
    position: absolute;
    border: 2.5px solid brown;
    bottom: 50px;
    left: 12.5%;
    box-shadow: 0px 2px 20px 3px inset rgba(0, 0, 0, 0.632);
}